.light {
  .activitypage {
    background-color: #eae6f0;
  }

  th {
    color: #1a1a1a;
  }

  .clientrow:nth-child(odd) {
    background: rgba(72, 72, 72, 0.105);
    color: #1a1a1a;
  }

  .clientrow:nth-child(even) {
    color: #1a1a1a;
  }
}

.dark {
  .activitypage {
    background-color: #1f2235;
  }

  th {
    color: white;
  }

  .clientrow:nth-child(odd) {
    background: rgba(217, 217, 217, 0.1);
    color: white;
  }

  .clientrow:nth-child(even) {
    color: white;
  }
}

.activitypage {
  background-color: #1f2235;
  overflow-x: hidden;
}

th {
  padding: 10px;
  color: white;
}

.clientrow:nth-child(odd) {
  background: rgba(217, 217, 217, 0.1);
  color: white;
}

.clientrow:nth-child(even) {
  color: white;
}

.activitypage {
  background-color: #1f2235;
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: scroll;
}

.displaytable {
  margin-top: 40px;
  width: calc(100vw - 80px);
  border-collapse: collapse;
  align-items: center;
  margin-left: 30px;
  overflow-x: auto;

}

th {
  padding: 10px;
  color: white;
}

td {
  text-align: center;
  padding: 10px;
  border: none;
  min-width: 140px;
}

td:first-child {
  width: 50px;
}

.clientrow:nth-child(odd) {
  background: rgba(217, 217, 217, 0.1);
  color: white;
  height: 90px;
}

.clientrow:nth-child(even) {
  color: white;
  height: 90px;
}

.clientrowhead {
  height: 50px;
}
