@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

.dark {
  .swappage {
    background-image: linear-gradient(#352667, #4b3077);
  }

  .heading {
    color: #ffffff;
  }

  .subheading {
    color: #FFFFFF;
  }
}

.light {
  .swappage {
    background-image: linear-gradient(#FFFFFF, #dbbce8);
  }

  .heading {
    color: #1a1a1a;
  }

  .subheading {
    color: #000000;
  }
}

.swappage {
  padding-top: 120px;
  min-height: calc(100vh - 100px);
  font-family: "Roboto";
  padding-bottom: 20px;
}

.heading {
  padding-top: 60px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 116%;
  display: flex;
  justify-content: center;
  text-align: left;
}

.subheading {
  padding-top: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: left;
  padding-bottom: 40px;
  width: 1000px;
  margin-left: calc(50% - 500px);
}

.swapbox {
  border-radius: 25px;
  width: 1000px;
  margin-left: calc(50% - 531px);
  display: flex;
  flex-direction: column;
  padding: 0px 30px 40px 30px;
  margin-bottom: 40px;
  background: #000000;
  border: 1px solid #FFFFFF;
}

.upperswapbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftupper,
.rightupper,
.leftmiddle,
.rightmiddle,
.leftlower,
.rightlower {
  flex-basis: 40%;
}

.from {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-left: 0px;
  font-family: "Roboto";
  color: white;
}

.select {
  color: #ffffff;
  background: rgba(217, 217, 217, 0.36);
  font-family: "Roboto";
  -moz-appearance: none;
  background: rgba(217, 217, 217, 0.36);
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 8px;
}

select option {
  color: #1f2235;
  background: rgba(217, 217, 217, 0.36) !important;
  font-family: "Roboto";
}

.select:invalid {
  color: #ffffff !important;
}

.select {
  padding-left: 50px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 116%;
  letter-spacing: 0.04em;
  font-weight: 400;
  height: 40px;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  outline: none;
  width: 400px;
}

select option {
  font-size: 16px;
}

.selectNFT {
  margin-top: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  position: relative;
}

.bitcoinimg {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  width: 28px;
}

.middleupper {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}

.to {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-left: 0px;
  font-family: "Roboto";
  color: white;
}

.input {
  z-index: 1;
  // margin-left: -40px;
  padding-left: 50px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 116%;
  letter-spacing: 0.06em;
  font-weight: 400;
  height: 40px;
  width: 350px;
  text-align: left;
  text-decoration: none;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  color: white;
  background: rgba(217, 217, 217, 0.36);
  font-family: "Roboto";
}

.inputNFT {
  display: flex;
  margin-top: 10px;
  text-align: left;
  align-items: center;
  position: relative;
}

.middleswapbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 36px;
}

.choose {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: fit-content;
}

.choosenft {
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto";
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;
  padding: 8px 24px;
  border: 1px solid #161616;
  background: #ffffff;
  color: #000000;
  // width: 380px;
}

.choosenft:hover {
  background: #161616;
  color: #ffffff;
  border: 1px solid #FFFFFF;
}

.cardinfo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  display: flex;
}

.aboutcard {
  margin-left: 20px;
  font-family: "Roboto";
  position: relative;
  color: white;
}

.cardhead {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 136%;
  // margin-bottom: 6px;
  align-items: flex-start;
  min-width: 200px;
  text-align: left;
  padding-right: 20px;
}

.edit {
  width: fit-content;
  align-items: flex-end;
  cursor: pointer;
  font-size: 20px;
  bottom: 5px;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  position: absolute;
}

.simage {
  min-height: 120px;
  position: relative;
  cursor: pointer;
}

.simage .question {
  display: block;
  position: absolute;
  top: 32px;
  left: 32px;
  pointer-events: none;
}

.sampleimage {
  webkit-filter: blur(4px);
  /* Chrome, Safari, Opera */
  filter: blur(4px);
}

.sampleimage,
.leftsampleimage {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.carddesc {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.04em;
  line-height: 136%;
}

.edit:hover {
  color: #f1709e;
}

.tooltip {
  display: none;
  width: 240px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  z-index: 100;
  margin-top: -90px;
  margin-left: 95px;
}

.simage:hover .tooltip {
  display: block;
}

.simage .tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.lowerswapbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amountandbalance {
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%);
  border: 3px solid #adbdbd;
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  justify-content: space-between;
  backdrop-filter: blur(400px);
  border-radius: 50px;
  padding: 15px 40px 15px 40px;
  color: white;
}

.amount {
  font-size: 28px;
  font-weight: 400;
}

.unit {
  font-size: 28px;
  font-weight: 400;
  text-align: right;
}

.balance {
  font-size: 12px;
  font-weight: 200;
}

.swapbutton {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 3px solid #ffffff;
  background: #FFFFFF;
  color: #000000;
}

.buttonswap {
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: #FFFFFF;
  color: #000000;
}

.mobileswapbox {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .heading {
    width: 600px;
    margin-left: calc(50% - 300px);
  }

  .subheading {
    width: 600px;
    margin-left: calc(50% - 300px);
  }

  .swapbox {
    display: none;
  }

  .mobileswapbox {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px 0px;
    margin-bottom: 40px;
    background: #000000;
    border: 1px solid #FFFFFF;
    height: auto;
    width: 600px;
    margin-left: calc(50% - 300px);
    justify-content: center;
    align-items: center;
  }

  .mobileupperswapbox,
  .mobilemiddleswapbox,
  .mobilelowerswapbox {
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
  }

  .middleupper,
  .lowerupper,
  .middlelower,
  .lowerlower {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .heading {
    width: 300px;
    margin-left: calc(50% - 150px);
    font-size: 32px;
    padding-top: 10px;
  }

  .subheading {
    padding-top: 20px;
    width: 300px;
    margin-left: calc(50% - 150px);
    font-size: 16px;
  }

  .mobileswapbox {
    width: 320px;
    margin-left: calc(50% - 160px);
    display: flex;
    justify-content: center;
  }

  .select {
    width: 280px;
  }

  .sampleimage,
  .leftsampleimage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }

  .simage{
    min-height: 80px;
  }

  .edit, .cardhead{
    font-size: 14px;
  }

  .cardinfo{
    width: 280px;
  }

  .simage .question {
    display: block;
    position: absolute;
    top: 13px;
    left: 13px;
    pointer-events: none;
  }

  .input {
    width: 230px;
  }

  .tooltip {
    display: none;
    width: 160px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    z-index: 100;
    margin-top: -60px;
    margin-left: 75px;
  }
}