.sampleimage{
    z-index: 2;
    position: relative;
    margin-left: 17px;
    cursor: pointer;
}

.lowerbox {
    cursor: pointer;
    background: linear-gradient(146.81deg, rgba(220, 57, 252, 0.27) 0%, rgba(12, 21, 59, 0.5) 100%);
    border: 3px solid rgba(255, 255, 255, 0.23);
    box-shadow: 25px 22px 250px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(43px);
    border-radius: 15px;
    width: 226px;
    height: 215px;
    margin-top: -110px;
    z-index: 0;
    position: relative;
}

.lowerboxcontent{
    margin-top: 107px;
    margin-left: 17px;
    margin-right: 17px;
}

.name{
    font-family: 'Poppins',sans-serif;
    font-weight: 300;
    color: white;
}

.desc{
    font-family: 'Poppins',sans-serif;
    font-weight: 200;
    color: white;
}

.bttn{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #800080;
    padding: 5px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 200;
    font-family: 'Poppins',sans-serif;
}

/* .bttn:hover{
    background-color: white;
    color: #1F2235;
    font-weight: 300;
} */