@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.popup {
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    width: 800px;
    height: 500px;
    background: linear-gradient(90deg, rgb(0, 66, 92) 12%, rgb(119, 228, 255) 100%);
    border-radius: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

.popup::-webkit-scrollbar-track {
    border: none;
    margin: 20px 0px;
    background-color: transparent;
}

.popup::-webkit-scrollbar {
    width: 4px;
    margin-left: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #0F143A;
    border: 1px solid rgba(15, 20, 58, 0.08);
}

.cross {
    position: absolute;
    right: 32px;
    top: 30px;
    cursor: pointer;
}

.catalogues {
    margin-top: 80px;
    padding-bottom: 40px;
}

.nfts {
    justify-content: center;
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(auto-fit, 240px);
    row-gap: 60px;
}