.dark {
  .entirenavbar {
    background-color: #1f2235;
  }

  .home,
  .explore,
  .marketplace {
    color: white;
  }

  .activities {
    color: white;
  }

  // .home:hover,
  // .explore:hover,
  // .marketplace:hover,
  // .activities:hover {
  //   color: #dc39fc;
  // }

  .mobileham {
    background-color: #1f2235;
  }

  .navlinks {
    color: white;
  }

  .navlinks:hover {
    color: #e566ff;
  }

  // Active

  .active {
    color: #dc39fc !important;
  }

  .navlinks div {
    background-color: transparent;
  }

  .active div {
    background-color: #d400ff;
  }
}

.light {
  .entirenavbar {
    background-color: #eae6f0;
    // box-shadow: 1px 1px 10px rgb(197, 197, 197);
  }

  .home,
  .explore,
  .marketplace {
    color: #1a1a1a;
  }

  .activities {
    color: #1a1a1a;
  }

  .home:hover,
  .explore:hover,
  .marketplace:hover,
  .activities:hover {
    color: #dc39fc;
  }

  .mobileham {
    background-color: #1f2235;
  }

  .navlinks {
    color: #1a1a1a;
  }

  .navlinks:hover {
    color: #e566ff;
  }

  // Active

  .active {
    color: #d400ff !important;
  }

  .navlinks div {
    background-color: transparent;
  }

  .active div {
    background-color: #d400ff;
  }
}

.entirenavbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  justify-content: space-between;
  z-index: 5;
  //   border-bottom: 2px solid black;
}

.left {
  display: inline-flex;
  align-items: center;
  margin-left: 42px;
}

.logo {
  cursor: pointer;
  align-items: center;
}

.logo img {
  width: 48px;
  display: block;
  border-radius: 0.5rem;
}

.menulinks {
  display: inline-flex;
  margin-left: 36px;
  list-style: none;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-weight: 200;
  font-size: 24px;
}

.navlinks {
  margin-right: 28px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
}

.navlinks div {
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.right {
  margin-right: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1178px) {
  .hamburger {
    display: block;
    margin-left: 18px;
  }

  .menulinks {
    display: none;
  }

  .mobileham {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: flex;
  }

  .closeimg {
    position: absolute;
    right: 30px;
    top: 20px;
  }

  .mobileleft {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
  }

  .mobilelogo {
    margin-top: 64px;
  }

  .mobilelogoimage {
    width: 36px;
  }

  .mobilecontent {
    z-index: 50;
    margin-top: 24px;
    font-weight: 200;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.04em;
  }

  .mobilecontent ul {
    list-style: none;
  }

  .mobilecontent li {
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
  }

  .navlinks {
    margin-right: 0px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    position: relative;
  }

  .navlinks div {
    position: absolute;
    height: 5px;
    width: 5px;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

@media only screen and (max-width: 450px) {
  .right {
    margin-right: 20px;
  }

  .left {
    display: inline-flex;
    align-items: center;
    margin-left: 20px;
  }

  .logo img {
    width: 36px;
    display: block;
    border-radius: 0.4rem;
  }

  .toggle {
    margin-left: 10px;
  }
}
